body {
  margin:  0 48px 0 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "MontserratRegular";
  src: url(./fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
  font-family: "MontserratMedium";
  src: url(./fonts/montserrat/Montserrat-Medium.otf);
}

@font-face {
  font-family: "MontserratBold";
  src: url(./fonts/montserrat/Montserrat-Bold.otf);
}

:root {
  --Darkest: #001219;
  --DarkBlue: #005f73;
  --Blue: #0a9396;
  --LightBlue: #94d2bd;
  --DarkOrange: #ca6702;
  --Orange: #ee9b00;
  --LightOrange: #e9d8a6;
  --Pink: #FF6C6C;
  --White: #ffffff;
  --SmokeWhite: #f2e8cf;
  --Black: #000000;
  --Gray: #c4c4c4;
  --LightGray: #f3f3f3;
  --DarkGray: #a4a4a4;
  --Brown: #808080;
  --Red: #F24E1E;
  --DarkGreen: #386641;
  --Green: #6a994e;
  --LightGreen: #a7c957;
}