.add-address{
    .add-address-button-container{
        .add-address-button{
            height: 48px;
            font-family: 'MontserratRegular';
            background-color: var(--Pink);
            border-radius: 24px;
            padding: 0 24px 0 24px;
            color: var(--White);
            border: none;
            box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
            margin: 0 0 24px 0;
        }
    }
}
.add-address-button-close{
    border: none;
    background: none;
    position: absolute;
    top:24px;
    right: 24px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0;
    background-color: var(--White) !important;
    img{
      width: 30px;
      height: 30px;
    }
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    transition: box-shadow 0.4s ease;
    &:hover{
        box-shadow: 0px 1px 8px rgba(0,0,0,0.4);
    }
}
.add-address-modal-loading{
    width: 100%;
    height: 100%;
    background-color: var(--LightGray);
    z-index: 40;
    position: absolute;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    img{
      width: 400px;
      height: 300px;
    }
    
}

.add-address-modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MontserratRegular';
    padding: 48px 0 48px 0;
    width: 100%;
    height: 100%;

    .add-address-title{
        font-family: 'MontserratMedium';
        font-size: 24px;
        text-align: center;
        padding: 0 0 48px 0;
    }
    .add-address-contents{
        width: 100%;
        .add-address-form-button-container{
            display: flex;
            .add-address-form-button{
                height: 48px;
                font-family: 'MontserratRegular';
                background-color: var(--Pink);
                border-radius: 24px;
                padding: 0 48px 0 48px;
                color: var(--White);
                border: none;
                box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
                margin: 48px 0 24px 0;
            }
        }
        
        .info-form{
            padding-top: 24px;
            .add-address-form-row-container{
                display: flex;
                width: 100%;
            }
            .form-item{
                width: 100%;
                padding-bottom: 24px;
                border-radius: 12px;
                margin: 4px;
                margin-right: 24px;
                padding: 12px;
                margin-bottom: 12px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
                transition: box-shadow 0.4s ease;
                label{
                    display: block;
                    color: var(--Brown);
                    font-size: 12px;
                }
                input{
                    width: 100%;
                    border: none;
                    color: var(--Darkest);
                }
                input:focus{
                    outline: none;
                    border: none;
                }
            }
            .form-item:hover{
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
