.menu-btn-container-col{
    display: flex;
    justify-content: right;
    padding: 0;
}

.poper-search-result-container{
    background-color: var(--White);
    border-radius: 12px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    transition: box-shadow 0.4s ease;
}

.user-menu-container{
    display: flex;
    //margin-top: 20px;
    margin-top: -4px;
    align-items: center;
    .user-menu-notification-container{
        position: relative;
        .user-menu-notification-value{
            position: absolute;
            top: 0px;
            right: 12px;
            background-color: var(--Red);
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: var(--Darkest) !important;
        }
        .user-menu-notification{
            margin-right: 24px;
            border: none;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            background-color: var(--White);
            box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
            transition: box-shadow 0.4s ease;
            &:hover{
                box-shadow: 0px 1px 8px rgba(0,0,0,0.3);
            }
            img{
                width: 32px;
                height: 32px;
                object-fit: contain;
            }
        }
    }
    
}
.menu-btn-avtar{
    position: relative;
    border: none;
    background-color: var(--White);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 48px;
    border-radius: 24px;
    padding: 2px;
    transition-duration: 0.8s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.4s ease;
    img{
        width: 44px;
        height: 44px;
        border-radius: 24px;
        border: 2px solid var(--Gray);
        // box-shadow: 0 4px 8px 0 var(--Gray), 0 6px 20px 0 var(--Gray);
    }
    span{
        font-family: 'MontserratRegular';
        padding-left: 12px;
        padding-right: 48px;
    }
    
}
.menu-btn-user-menu-more{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30%;
    right: 4px;
    transition-duration: 0.8s;
    img{
        padding: 4px;
        width: 32px;
        height: 32px;
        box-shadow: none;
        border: none;
    }
}
.menu-btn-user-menu-more:hover{
    img{
        padding: 0;
    }
}
.menu-btn-avtar:hover{
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}
#menu-bounder{
    margin-left: 48px;
    margin-right: 48px;
}
.user-menu-more-container{
    width: 280px;
    height: 424px;
    border-radius: 8px;
    position: absolute;
    top: 100px;
    right: 36px;
    background-color: var(--White);
    z-index: 10;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    position: fixed;
    transition: opacity 0.4s ease;
    transition: transform 0.4s ease;
    transition: visibility 0.4s;
}
.user-popup-menu-active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.user-popup-menu-inactive{
    visibility: hidden;
    opacity: 1;
    transform: translateY(0);
}

.menu-btn-container-col{
    position: relative;    
}


.user-menu-more-container{
    padding: 12px;
    text-align: center;
    font-family: 'MontserratRegular';
    .user-popup-name{
        font-family: 'MontserratMedium';
        color: var(--Darkest);
    }
    .user-popup-email{
        color: var(--Gray);
        font-size: 12px;
    }
    .user-popup-avatar{
        display: flex;
        justify-content: center;
        justify-items: center;
        padding-bottom: 12px;
        padding-top: 48px;
        position: relative;

        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid var(--Gray);
            z-index: 1;
        }
    }
    .user-popup-options{
        display: flex;
        justify-content: center;
        padding-top: 12px;
        
        button{
            border: 1px solid var(--Gray);
            background-color: var(--White);
            padding: 0;
            margin: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-left: 4px;
            margin-right: 4px;
            img{
                width: 24px;
                height: 24px;
                object-fit: contain;
            }
        }
        button:hover{
            background-color: var(--LightGray);
        }
        
    }

    .user-popup-actions{
        padding-top: 24px;
        .user-popup-action{
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
            button{
                border: none;
                display: flex;
                justify-content: left;
                align-items: center;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 36px;
                border-radius: 18px;
                background-color: var(--LightGray);
                font-size: 12px;
                box-shadow: none;
                transition: box-shadow 0.4s ease, background-color 0.4s;
                .action-img-container{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: var(--White);
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin-left: 2px;
                    border: 1px solid var(--Gray);
                    img{
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                        border-radius: 50%;
                    }
                }
                span{
                    margin-left: 12px;
                }
                
            }
            button:hover{
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
            }
            .user-setting-action-container:hover{
                background-color: var(--Pink);
                color: var(--White);
            }
            .logout-action-container:hover{
                background-color: var(--Red) !important;
                color: var(--White)
            }
            .use-other-account-container:hover{
                background-color: var(--DarkBlue);
                color: var(--White);
            }
        }
        
    }
    
}

#menu-header{
    height: 100px;
    #logo-container{
        padding: 12px;
        align-items: left;
        img{
            width: 188px;
            height: 76px;
            object-fit: contain;
        }
    }
    #search-bar-container{
        padding-top: 20px;
        position: relative;
        input{
            height: 48px;
            width: 100%;
            border-radius: 24px;
            background-color: var(--White);
            border-style: none;
            padding-left: 24px;
            padding-right: 24px;
            font-family: 'MontserratRegular';
            font-size: 16px;
            color: var(--Darkest);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.4s ease;
            padding-right: 96px;
        }
        input:hover{
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        }
        input:focus{
            outline: none;
            outline-offset: 0px;
            border: 2px solid var(--Pink);
            color: var(--Pink);
        }
        input:focus:hover{
            outline: none;
            outline-offset: 0px;
            border: 2px solid var(--Pink);
            color: var(--Pink);
            background-color: var(--LightGray);
        }
        .search-bar-btn-search:hover{
            filter: invert(53%) sepia(68%) saturate(1883%) hue-rotate(322deg) brightness(107%) contrast(100%);
            cursor: pointer;
        } 
        .search-bar-btn-search{
            position: absolute;
            right: 20px;
            top: 20px;
            width: 48px;
            height: 48px;
            border-radius: 24px;
            transition: filter 0.4s ease;
            filter: invert(53%) sepia(68%) saturate(1883%) hue-rotate(322deg) brightness(107%) contrast(100%);
        }
        button{
            position: absolute;
            right: 72px;
            top: 32px;
            background-color: var(--LightGray);
            width: 24px;
            height: 24px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.4s ease;
            img{
                width: 24px;
                height: 24px;
                border-radius: 12px;
                margin: 0;
                padding: 0;
            }
            &:hover{
                background-color: var(--White);
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
.menu-component{
    font-family: 'MontserratMedium';
    font-size: 24px;
    background-color: var(--White);
    border-radius: 0px;
    .menu-parent-content{
        width: 180px;
        height: 48px;
        position: relative;
        transition-duration: 0.4s;
        transition: box-shadow 0.4s ease;
        border-radius: 24px;
        box-shadow: none;
        margin-right: 4px;
        a{
            text-decoration: none;
            color: var(--Darkest);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .menu-parent-content:hover{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    }
    #active-menu-parent{
        // background-color: var(--DarkBlue)!important;
        // border-bottom: 8px solid var(--DarkBlue);
        // border-bottom-width: 80%;
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);

        a{
            color: var(--Pink);
            width: 100%;
            height: 100%;
            // font-family: 'MontserratBold';
        }
    }
}

@media only screen and (max-width:800px ) {
    .user-menu-container{
        margin-top: 24px;
    }
    .menu-btn-user-menu-more{
        top: 42%;
        right: 14%;
    }

    .user-menu-more-container{
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .btn-login-container{
        display: flex;
        justify-content: center;
        
    }
    #search-bar-container{
        input{
            width: 100%;
        }
    }
    #logo-container{
        display: flex;
        justify-content: center;
        margin-top: 24px;
        img{
            width: 90%;
        }
    }
    .menu-component{
        margin-top: 180px;
        .menu-parent-content{
            width: 50%;
            font-size: 20px;
            margin: 0;
        }
    }
    .menu-btn-container-col{
        justify-content: center;
    }
}
@media only screen and (max-width:1200px ) {
    .menu-component{
        margin-top: 180px;
    }
}


