.btn-add-book-to-cart:hover{
    background-color: var(--Blue) !important;
}
@media only screen and (max-width:600px ) {
    .btn-add-book-to-cart{
        font-size: 12px !important;
        width: 140px !important;
        margin-left: 2px !important;
        height: 40px !important;
    }
}