.book-in-cart-container{
    background-color: var(--White);
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.4s ease;
}
.book-in-cart-container:hover{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
}
.book-in-cart-contents{
    p{
        padding: 0;
        margin: 0;
    }
    .book-in-cart-title{
        font-size: 16px;
    }
    .book-in-cart-author{
        font-size: 12px;
    }
}

.book-in-cart-prices{
    position: absolute;
    bottom: 0;
    .book-in-cart-prv-price{
        color: var(--Gray);
        text-decoration: line-through;
        font-size: 20px;
    }
    .book-in-cart-discount-rate{
        color:var(--Pink);
        font-size: 20px;
    }
    .book-in-cart-cur-price{
        color: var(--Orange);
        display: block;
        font-size: 28px;
        font-family: 'MontserratMedium';
    }
}
.book-in-cart-amount-container{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.book-in-cart-amount{
    width: 60%;
    height: 38px;
    border-radius: 8px;
    border: 1px solid var(--Gray);
    display: flex;
    background-color: var(--White);
    position: relative;
    justify-content: center;
    input{
        width: 48px;
        height: 36px;
        border: none;
        outline: none;
        text-align: center;
        font-size: 16px;
        background-color: var(--White);
    }
    button{
        border: none;
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: var(--White);
        padding: 0px;
        margin: 0px;
        img{
            width: 20px;
            height: 20px;
            padding: 0px;
            margin: 0px;
            margin-top: -16px;
        }
    }
    .book-in-cart-amount-btn-minus{
        top:6px;
        left:8px;
    }
    .book-in-cart-amount-btn-plus{
        top:6px;
        right:8px;
    }
}

.book-in-cart-price-container{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
    .book-in-cart-price-cur-price{
        color: var(--Pink);
        font-size: 28px;
        font-family: 'MontserratMedium';
    }
    button{
        border: none;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        position: absolute;
        right: 24px;
        padding: 0;
        margin: 0; 
        background-color: var(--White);
        img{
            width: 32px;
            height: 32px;
        }
    }
}

@media only screen and (max-width:600px ) {
    
    .responsive-row{
        
    }

    .responsive-col-1{
        width: 50%;
        padding: 0;
        margin: 0;
        .responsice-book-image-in-cart{
            width: 96px !important;
            height: 120px !important;
            margin-left: 48px !important;
            border-radius: 8px !important;
        }
        .responsive-checkbox{
            left: 12px !important;
            top: 24% !important;
        }
    }
    .responsive-col-2{
        width: 50%;
        .book-in-cart-contents{
            .book-in-cart-title{
                font-family: 'MontserratRegular';
                font-size: 12px;
            }
            .book-in-cart-author{
                font-size: 12px;
            }
        }
        .book-in-cart-prices{
            .book-in-cart-prv-price{
                font-size: 12px;
                margin: 0;
                padding: 0;
            }
            .book-in-cart-discount-rate{
                font-size: 12px;
                margin: 0;
                padding: 0;
            }
            .book-in-cart-cur-price{
                font-size: 12px;
                margin: 0;
                padding: 0;
            }
        }
    }

    .responsive-col-3{
        width: 96px;
        padding-top: 12px;
        margin-left: 48px;
        .book-in-cart-amount{
            width: 100%;
        }
    }
    .responsive-col-4{
        width: 50%;
        .book-in-cart-price-cur-price{
            font-size: 16px;
            margin-top: 10px;
            padding-left: 18px;
        }
        .responsive-remove-btn{
            position: absolute;
            right: 0;
        }
    }
}