.category-title{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: var(--Darkest);
    margin-bottom: 12px;
}
.categories-bounder{
    display: block;
    // justify-content: center;
}